.input-date {
  padding: 0;

  .dp {
    &__input {
      background-color: #f4f4f4;
      color: #151717;
      border: none;
      height: 40px;
      width: 100%;
      border-radius: 8px;
      font-size: 12px;
      font-family: Mont;

      &_icon {
        right: 0;
        left: unset;
        fill: $green;
        pointer-events: none;

        &_pad {
          padding-left: 12px;
          padding-right: 35px;
        }
      }
    }

    &__clear_icon {
      right: 35px;
      padding: 0;
    }
  }

}

.dp {
  &__range_end, &__range_start, &__active_date {
    background: $green;
  }
}
