.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 200000;
  transition: .3s opacity;

  &--loaded {
    pointer-events: none;
    opacity: 0;
  }

  &__block {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h4 {
      margin-top: 20px;
      color: #1ca195;
      font-size: 24px;
      text-align: center;
      font-weight: bold;
    }
  }
}

.preloader__animation {
  position: relative;
  width: 80px;
  height: 80px;
}

.preloader__animation div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #1ca195;
  animation: lds-grid 1.2s linear infinite;
}

.preloader__animation div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.preloader__animation div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.preloader__animation div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.preloader__animation div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.preloader__animation div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.preloader__animation div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.preloader__animation div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.preloader__animation div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.preloader__animation div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}