$black: #151717;
$black_passive: #838989;

$green: #28B2AB;
$green--hover: #31918f;
$green--active: #186561;
$green--light: #d8fffc;

$red: #EB5757;
$red--light: #FFF0F0;
$red--normal: #ffe3e3;
$red--active: #ffc8c8;

$orange: #fb8c00;
$orange--light: #fff1e1;
$orange--normal: #FB8C0029;

$blue: #2196f3;
$blue--light: #e5f3fe;
$blue--normal: #2196F328;